<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.memo.hr.mapper.ExceptionMapper">

	<insert id="insertExcptLog" parameterType="ExceptionVO">
		INSERT INTO
			TBL_EXCPT_LOG
			(EXCPT
			,CNTNT
			,LOGIN_ID
			,RGST_DTTM)
		VALUES
			(#{excpt}
			,#{cntnt}
			,#{loginId}
			,NOW())
	</insert>


</mapper>